.table th{
    padding: 10px !important;
}
.table td{
    padding: 5px !important;
}
.cursor-pointer {
    cursor: pointer;
}
/** custom file */
.file-input__input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.file-input__label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  padding: 10px 12px;
  background-color: #4245a8;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
}

.file-input__label:hover {
  background-color: #4e55b3;
}
/** fin del custom file */

.page-link{
    color: #7540b9 !important;
}
.active > .page-link{
    background-color: #7540b9 !important;
    border-color: #7540b9 !important;
    color: #fff !important;
}
.custom_radio{
    height: 20px;
    width: 20px;
}
.custom_checkbox{
    height: 20px;
    width: 20px;
}

/* Cursor visible como enlace en el sidebar */
.sidebar .nav .nav-item:hover,
.sidebar .nav .nav-item .nav-link:hover {
    cursor: pointer;
}